<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devprogram.aliaspro">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RulesActivity"
            android:label="@string/label_rules_activity"
            android:noHistory="true" />
        <activity
            android:name=".SettingsGameActivity"
            android:label="@string/label_settings_activity"
            android:noHistory="true"
            />
        <activity
            android:name=".RoundResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/label_roundresult_activity"
            android:noHistory="true" />
        <activity
            android:name=".BeginGameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_rating_activity"
            android:noHistory="true" />
        <activity
            android:name=".PlayGameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />
        <activity
            android:name=".CongratulationActivity"
            android:noHistory="true"
            android:label="@string/label_congratulate_activity"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5351987413735598~4651174887"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="94d0589a26b58235d1e5cad1bab4debc4c1147a9"
            />
    </application>

</manifest>